<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css">

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Work in progress...</h1>
        <p>The RelativelySocial Network will be available soon.</p>
    </div>
</div>

</body>
</html>